<div class="ceContainer" align="center">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="booksTitle">Chant d'Espérance</h2>
		</div>
	</div>
	<div class="row">
 		<ng-include src="'partials/search_box.html'"></ng-include>
		<!--<form class="search" action="search">
                                <input class="searchTerm" type="text" ng-model="text"  name="text" placeholder="Enter your search term ...">
                                <input class="searchButton" type="submit">
                </form>-->

	</div>
	<div class="row">

		<div class="col-md-12">
			<div class="row " align="center">
				<div class="col-xs-6 col-sm-6 bookBtn ">
					<a href="books/ce"><img class="ceButton" src="./res/img/books/ce.png" />
						<h5>Chant d'Esperance</h5>
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 bookBtn">
					<a href="books/mj"><img class="ceButton" src="./res/img/books/mj.png" />

						<h5>Mélodies Joyeuses</h5>
					</a>
				</div>
			</div>
			<div class="row " align="center">
				<div class="col-xs-6 col-sm-6 bookBtn ">
					<a href="books/ee"><img class="ceButton" src="./res/img/books/ee.png" />
						<h5>Échos des Élus</h5>
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 bookBtn">
					<a href="books/vr"><img class="ceButton" src="./res/img/books/vr.png" />

						<h5>La Voix du Réveil</h5>
					</a>
				</div>
			</div>
			<div class="row " align="center">
				<div class="col-xs-6 col-sm-6 bookBtn ">
					<a href="books/rn"><img class="ceButton" src="./res/img/books/rn.png" />
						<h5>Réveillons-Nous</h5>
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 bookBtn">
					<a href="books/hc"><img class="ceButton" src="./res/img/books/hc.png" />

						<h5>Haïti Chante avec Radio-Lumière</h5>
					</a>
				</div>
			</div>
		</div>

	</div>
</div>