/*{
  //"plugins": ["react-relay"],
  "plugins": ["lodash", ["relay", {"compat": true, "schema": "./scripts/schema.graphql"}]],
  "presets": ["es2015", {"plugins": ["transform-react-inline-elements", "transform-react-constant-elements"]}, "react", "stage-0"]
}
*/
{
	//"plugins": ["react-relay"],
	"presets": ["es2015", "react", "stage-0"],
	"plugins": [
		["relay", {
			"schema": "scripts/schema.graphql"
		}], "transform-react-inline-elements", "transform-react-constant-elements", ["import", {
			"libraryName": "antd",
			"style": "css"
		}]
	]

}