// ColorCode

$bright-blue: #2158da;
$bright-blue-shadow: #1450e0;
$darker-gray: #333;
$mj-purple: #da26d8;
$ce-blue: #045ff3;
$vr-green: #afdc03;
$hc-orange: #fd8903;
$ee-gray: #777474;
$rn-green: #24dc86;
$ga-blue: #33a3f2;

