#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
	display: block;
	max-width: 100%;
	height: auto;
}

.content {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

body {
	font-family: $raleway;
}

.search-bar {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 30px;
	input {
		font-family: $raleway;
	}
}

@for $i from 1 through 6 {
	h#{$i} {
		font-family: $raleway;
		padding-bottom: 30px;
		color: $darker-gray;
	}
}

p {
	line-height: 1.1;
}

.btn {
	border-radius: $button-radius;
	border: $button-border;
}

.btn-toolbar {
	padding-bottom: 5px;
}

.button-primary {
	background-color: $ce-blue;
	color: white;
	border: 0;
}

.song-list {
	.list-group-item:last-child,
	.list-group-item:first-child {
		border-radius: 1px;
	}
	.list-group-item {
		text-align: left;
		font-weight: 600;
		a{
			color: $darker-gray;
		}
	}

}

.ce {
	border-color: $ce-blue;
	.form-control {
		border-color: $ce-blue;
	}
}

.mj {
	border-color: $mj-purple;
	.form-control {
		border-color: $mj-purple;
	}
}

.ee {
	border-color: $ee-gray;
	.form-control {
		border-color: $ee-gray;
	}
}

.vr {
	border-color: $vr-green;
	.form-control {
		border-color: $vr-green;
	}
}

.rn {
	border-color: $rn-green;
	.form-control {
		border-color: $rn-green;
	}
}

.hc {
	border-color: $hc-orange;
	.form-control {
		border-color: $hc-orange;
	}
}

.ga {
	border-color: $ga-blue;
	.form-control {
		border-color: $ga-blue;
	}
}
.lyrics{
	p{
		font-size: 1.3em;
	}
	
}

.ad-banner{
	padding-bottom: 30px;
}

.most-viewed{
	.most-viewed-item{
		text-align: left;
	}
	.most-viewed-title{
		font-size: 24px;
	}
}

