#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
	display: block;
	max-width: 100%;
	height: auto;
}

.content {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	.home-main-content,
	.sidebar-2 {
		padding-top: 70px;
		padding-right: 0px;
		padding-left: 0px;
	}
}

body {
	font-family: $raleway;
}

.search-bar {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 30px;
	input {
		font-family: $raleway;
	}
}

@for $i from 1 through 6 {
	h#{$i} {
		font-family: $raleway;
		padding-bottom: 30px;
		color: $darker-gray;
	}
}

p {
	line-height: 1.1;
}

.btn {
	border-radius: $button-radius;
	border: $button-border;
}

.btn-toolbar {
	padding-bottom: 5px;
}

.button-primary {
	background-color: $ce-blue;
	color: white;
	border: 0;
}

.song-list {
	.list-group-item:last-child,
	.list-group-item:first-child {
		border-radius: 1px;
	}
	.list-group-item {
		text-align: left;
		font-weight: 600;
	}
}

a {
	color: $darker-gray;
}

.ce {
	border-color: $ce-blue;
	.form-control {
		border-color: $ce-blue;
	}
}

.mj {
	border-color: $mj-purple;
	.form-control {
		border-color: $mj-purple;
	}
}

.ee {
	border-color: $ee-gray;
	.form-control {
		border-color: $ee-gray;
	}
}

.vr {
	border-color: $vr-green;
	.form-control {
		border-color: $vr-green;
	}
}

.rn {
	border-color: $rn-green;
	.form-control {
		border-color: $rn-green;
	}
}

.hc {
	border-color: $hc-orange;
	.form-control {
		border-color: $hc-orange;
	}
}

.ga {
	border-color: $ga-blue;
	.form-control {
		border-color: $ga-blue;
	}
}

.lyrics {
	p {
		font-size: 1.3em;
	}
}

.ad-banner {
	padding-bottom: 30px;
	padding-top: 30px;
}

.most-viewed {
	width: 100%;
	.most-viewed-item {
		text-align: left;
		border-radius: 0;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 0px;
		border-color: $darker-gray;
		.stats {
			color: $darker-gray;
			font-size: 0.9em;
			font-weight: 700;
			margin: 0px;
		}
		.info {
			margin: 0px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.most-viewed-title {
		background-color: #f2f2f2;
		color: $darker-gray;
		font-size: 1.1em;
		font-weight: 700;
		text-align: left;
		padding: 7px;
	}
}

@media (max-width: 767px) {
	.main-header {
		h2 {
			font-size: 2.5em;
		}
	}
}

@media (min-width: 768px) {
	.main-header {
		padding-top: 50px;
		h2 {
			font-size: 3em;
		}
	}
}

.contact-us {
	text-align: left;
	margin-bottom: 15px;
	.control-label {
		padding-left: 3px;
		font-weight: 700;
	}
	.btn-default.active,
	.btn-default:active,
	.open>.dropdown-toggle.btn-default {
		background-color: $ce-blue;
		color: white;
	}
	.btn-default.focus,
	.btn-default:focus {
		background-color: $ce-blue;
		color: white;
		border-color: #8c8c8c;
	}
}

.alert-info {
	color: white;
	background-color: $ce-blue;
	border: 0;
}

.contact-alert {
	display: inline-block;
	padding: 15px;
}
