@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway:400,700,900");
nav {
  font-family: "Raleway", serif;
  color: white; }

.header {
  border-radius: 0;
  background-color: #045ff3;
  border-color: #045ff3; }

.header .navbar-nav > li > a {
  color: white; }

.header .navbar-header > a {
  color: white; }

.header .container {
  width: 100%; }

input.form-control {
  width: 100% !important;
  box-sizing: border-box; }

.navbar-inverse .navbar-toggle {
  border: 0; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #1450e0; }

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: 0; }

.search-bar .form-control {
  border: 1px solid;
  border-color: #045ff3;
  border-radius: 0px; }

.search-results .search-result {
  padding-bottom: 10px; }
  .search-results .search-result .search-result-title {
    font-weight: 600; }
  .search-results .search-result .search-result-snippet,
  .search-results .search-result .search-result-title {
    color: #333; }
    .search-results .search-result .search-result-snippet strong,
    .search-results .search-result .search-result-title strong {
      color: #2158da; }
  .search-results .search-result h4 {
    padding-bottom: 1px; }
  .search-results .search-result .ref {
    font-weight: 800; }

.search-container {
  text-align: left; }

#header {
  margin-top: 30px; }

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.content {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }
  .content .home-main-content,
  .content .sidebar-2 {
    padding-top: 70px;
    padding-right: 0px;
    padding-left: 0px; }

body {
  font-family: "Raleway", serif; }

.search-bar {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px; }
  .search-bar input {
    font-family: "Raleway", serif; }

h1 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h2 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h3 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h4 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h5 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h6 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

p {
  line-height: 1.1; }

.btn {
  border-radius: 1px;
  border: 0px; }

.btn-toolbar {
  padding-bottom: 5px; }

.button-primary {
  background-color: #045ff3;
  color: white;
  border: 0; }

.song-list .list-group-item:last-child,
.song-list .list-group-item:first-child {
  border-radius: 1px; }

.song-list .list-group-item {
  text-align: left;
  font-weight: 600; }

a {
  color: #333; }

.ce {
  border-color: #045ff3; }
  .ce .form-control {
    border-color: #045ff3; }

.mj {
  border-color: #da26d8; }
  .mj .form-control {
    border-color: #da26d8; }

.ee {
  border-color: #777474; }
  .ee .form-control {
    border-color: #777474; }

.vr {
  border-color: #afdc03; }
  .vr .form-control {
    border-color: #afdc03; }

.rn {
  border-color: #24dc86; }
  .rn .form-control {
    border-color: #24dc86; }

.hc {
  border-color: #fd8903; }
  .hc .form-control {
    border-color: #fd8903; }

.ga {
  border-color: #33a3f2; }
  .ga .form-control {
    border-color: #33a3f2; }

.lyrics p {
  font-size: 1.3em; }

.ad-banner {
  padding-bottom: 30px;
  padding-top: 30px; }

.most-viewed {
  width: 100%; }
  .most-viewed .most-viewed-item {
    text-align: left;
    border-radius: 0;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: #333; }
    .most-viewed .most-viewed-item .stats {
      color: #333;
      font-size: 0.9em;
      font-weight: 700;
      margin: 0px; }
    .most-viewed .most-viewed-item .info {
      margin: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .most-viewed .most-viewed-title {
    background-color: #f2f2f2;
    color: #333;
    font-size: 1.1em;
    font-weight: 700;
    text-align: left;
    padding: 7px; }

@media (max-width: 767px) {
  .main-header h2 {
    font-size: 2.5em; } }

@media (min-width: 768px) {
  .main-header {
    padding-top: 50px; }
    .main-header h2 {
      font-size: 3em; } }

.contact-us {
  text-align: left;
  margin-bottom: 15px; }
  .contact-us .control-label {
    padding-left: 3px;
    font-weight: 700; }
  .contact-us .btn-default.active,
  .contact-us .btn-default:active,
  .contact-us .open > .dropdown-toggle.btn-default {
    background-color: #045ff3;
    color: white; }
  .contact-us .btn-default.focus,
  .contact-us .btn-default:focus {
    background-color: #045ff3;
    color: white;
    border-color: #8c8c8c; }

.alert-info {
  color: white;
  background-color: #045ff3;
  border: 0; }

.contact-alert {
  display: inline-block;
  padding: 15px; }

.example-enter {
  font-size: 12px;
  transition: font-size 1s ease-out; }

.example-enter.example-enter-active {
  font-size: 1em; }

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in; }

.example-leave.example-leave-active {
  opacity: 0.01; }

.example-appear {
  opacity: 0.01;
  transition: opacity 0.5s ease-in; }

.example-appear.example-appear-active {
  opacity: 1; }

.transition-wrapper {
  position: relative;
  z-index: 1; }
  .transition-wrapper .transition-item {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; }
