@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway");
nav {
  font-family: "Raleway", serif;
  color: white; }

.header {
  border-radius: 0;
  background-color: #2158da;
  border-color: #2158da;
  height: 40px; }

.header .navbar-nav > li > a {
  color: white; }

.header .navbar-header > a {
  color: white; }

.header .container {
  width: 100%; }

input.form-control {
  width: 100% !important;
  box-sizing: border-box; }

.search-bar .form-control {
  border: 1px solid #2158da;
  border-radius: 0px; }

#header {
  margin-top: 30px; }

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.content {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

body {
  font-family: 100% "Raleway", serif; }

.search-bar {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px; }
  .search-bar input {
    font-family: "Raleway", serif; }

h1 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h2 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h3 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h4 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h5 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h6 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }
