@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway");
nav {
  font-family: "Raleway", serif;
  color: white; }

.header {
  border-radius: 0;
  background-color: #045ff3;
  border-color: #045ff3; }

.header .navbar-nav > li > a {
  color: white; }

.header .navbar-header > a {
  color: white; }

.header .container {
  width: 100%; }

input.form-control {
  width: 100% !important;
  box-sizing: border-box; }

.navbar-inverse .navbar-toggle {
  border: 0; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #1450e0; }

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: 0; }

.search-bar .form-control {
  border: 1px solid;
  border-color: #045ff3;
  border-radius: 0px; }

.search-results .search-result {
  padding-bottom: 10px; }
  .search-results .search-result .search-result-title {
    font-weight: 600; }
  .search-results .search-result .search-result-snippet,
  .search-results .search-result .search-result-title {
    color: #333; }
    .search-results .search-result .search-result-snippet strong,
    .search-results .search-result .search-result-title strong {
      color: #2158da; }
  .search-results .search-result h4 {
    padding-bottom: 1px; }
  .search-results .search-result .ref {
    font-weight: 800; }

.search-container {
  text-align: left; }

#header {
  margin-top: 30px; }

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.content {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

body {
  font-family: "Raleway", serif; }

.search-bar {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px; }
  .search-bar input {
    font-family: "Raleway", serif; }

h1 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h2 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h3 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h4 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h5 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

h6 {
  font-family: "Raleway", serif;
  padding-bottom: 30px;
  color: #333; }

p {
  line-height: 1.1; }

.btn {
  border-radius: 1px;
  border: 0px; }

.btn-toolbar {
  padding-bottom: 5px; }

.button-primary {
  background-color: #045ff3;
  color: white;
  border: 0; }

.song-list .list-group-item:last-child,
.song-list .list-group-item:first-child {
  border-radius: 1px; }

.song-list .list-group-item {
  text-align: left;
  font-weight: 600; }
  .song-list .list-group-item a {
    color: #333; }

.ce {
  border-color: #045ff3; }
  .ce .form-control {
    border-color: #045ff3; }

.mj {
  border-color: #da26d8; }
  .mj .form-control {
    border-color: #da26d8; }

.ee {
  border-color: #777474; }
  .ee .form-control {
    border-color: #777474; }

.vr {
  border-color: #afdc03; }
  .vr .form-control {
    border-color: #afdc03; }

.rn {
  border-color: #24dc86; }
  .rn .form-control {
    border-color: #24dc86; }

.hc {
  border-color: #fd8903; }
  .hc .form-control {
    border-color: #fd8903; }

.ga {
  border-color: #33a3f2; }
  .ga .form-control {
    border-color: #33a3f2; }

.lyrics p {
  font-size: 1.3em; }

.ad-banner {
  padding-bottom: 30px; }

.most-viewed .most-viewed-item {
  text-align: left; }

.most-viewed .most-viewed-title {
  font-size: 24px; }
